# ignore the following folders
/docker-data
/node_modules
/saved/mp3cache/**
/saved/imagecache/**
/saved/posterr-poster-metadata.json
/saved/posterr-poster-metadata.json.migrated.bak
/saved/posterr-poster-metadata.db
/config/*.json
/dist
/public/custom/**

# any excluded dir with a .keep file. Will stay in github, but all other files will not :)
!.keep
!/public/custom/pictures
!/public/custom/pictures/default
!/public/custom/pictures/readme.txt
!/public/custom/custom.css
